<a href="https://colab.research.google.com/github/Hackveda/Data-Structures-using-Python/blob/main/Input_Output_Formatting_Exceptions_and_Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello devanshu", "Shukla")
name = "Devanshu"
print("My name is", name)

Hello devanshu Shukla
My name is Devanshu

In [ ]:
name = "Devanshu"
sirname = "Shukla"
print_statement = f"My name is {name} and Sirname is {sirname}"
print(print_statement)

My name is Devanshu and Sirname is Shukla

In [ ]:
subtotal_amount = 10000000
user = "Devanshu"
"Subtotal for {} is {:,}".format(user, subtotal_amount)

'Subtotal for Devanshu is 10,000,000'

In [ ]:
decimal_val = 10
"Binary value of {} is {:x}".format(decimal_val, decimal_val)

'Binary value of 10 is a'

In [ ]:
# Reading and Writing Files in Python

with open("devanshu.txt") as f:
  myfile = f.read()
  
print(myfile)

Hi, My name is Devanshu

In [ ]:
with open("devanshu.txt") as f:
  myline = f.readline()
print(myline)

Hi, My name is

In [ ]:
with open("devanshu.txt") as f:
  for line in f:
    print(line)

Hi, My name is

Devanshu

In [ ]:
with open("devanshu1.txt", "w") as f:
  f.write("Hello Ji")

In [ ]:
# Wiriting JSON data in python
import json
data = {"Name":"Devanshu Shukla", "Age":30}
json.dumps(data)

'{"Name": "Devanshu Shukla", "Age": 30}'

In [ ]:
with open("NewJson.json", "w") as f:
  json.dump(data, f)

In [ ]:
# Exception handling
try:
  name = ["devanshu", " shukla"]
  dividebyzero = 10 / 0 
  for name in names:
    print(name)
except NameError as e:
  print("Please check variable name")
except ZeroDivisionError as e:
  print("You have divided by zero, please dont")

You have divided by zero, please dont

In [ ]:
from myclass import MyClass
mclass = MyClass()
type(mclass)

myclass.MyClass

In [ ]:
dir(mclass)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'myname']

In [ ]:
mclass.myname()

Your name is  <myclass.MyClass object at 0x7fba365fc410>