<a href="https://colab.research.google.com/github/Hackveda/Data-Structures-using-Python/blob/main/List_Comprehensions%2C_Tuples%2C_Sets%2C_Dictionaries%2C_Modules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# List Comprehensions
# Code without List Comprehension

squares = [] # Created a list
# perform operation based on condition
for i in range(10):
  square = i ** 2 # Performing operation
  squares.append(square)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
# Modify the code using List Comprehension
# [Operation Iterable Condition]
# 1. Iterable
# 2. Condition
# 3. Operation

comprehendedList = [ i**2 for i in range (10) ]
comprehendedList

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# Example 2 of List Comprehension
[ i**2 for i in range(10) if (i % 2) == 0 ]

[0, 4, 16, 36, 64]

In [7]:
# Make a mtarix using Nested List Comprehension
matrix = [
         [10,20,30,40],
         [50,60,70,80],
         [90,100,110,120]
]

[[ row[i] for row in matrix] for i in range(4)]

[[10, 50, 90], [20, 60, 100], [30, 70, 110], [40, 80, 120]]

In [8]:
sample = ["Devanshu", "Arush", "Ajay", "Vijay"]
del sample[1]
sample

['Devanshu', 'Ajay', 'Vijay']

In [9]:
# Tuples and Sequences 
mytuple = ("Devanshu", "Shukla", "Arush", "Batra", "Shukla")
mytuple

('Devanshu', 'Shukla', 'Arush', 'Batra', 'Shukla')

In [11]:
mytuple[1] = "Sharma" # Tuple are immutable

TypeError: ignored

In [12]:
del mytuple[1] # Tuples cannot be deleted

TypeError: ignored

In [13]:
# Tuples support multiple item assignments 

name, sirname, age, height = ("Devanshu", "Shukla", 30, 5.9)

In [14]:
print("Name:", name, "Sirname:", sirname, "Age:", age, "Height:", height)

Name: Devanshu Sirname: Shukla Age: 30 Height: 5.9

In [15]:
# Sets {}

myset = {"Devanshu", "Shukla", "Devanshu", "Arush"}
myset

{'Arush', 'Devanshu', 'Shukla'}

In [18]:
# Python supports Sets Comprehension

comprehendedSet = { i * 10 for i in range(10) if (i%2) == 0 }
comprehendedSet

{0, 20, 40, 60, 80}

In [22]:
# Dictionaries  {"Key": "Value"} = O(1) Time Complexity CRUD
mydict = {"Name":"Devanshu", "Age":30}
mydict["Name"] = "Sudhanshu"
del mydict["Age"]
mydict

print("The Value of Name key in dictionary is", mydict["Name"])

The Value of Name key in dictionary is Sudhanshu

In [24]:
mydict1 = {"Name": "Devanshu", "Age":30, "Height": 5.9}
# Perfomr Loops on dictionaries
for index, value in mydict1.items():
  print("Index is", index, "and Value is", value)

Index is Name and Value is Devanshu
Index is Age and Value is 30
Index is Height and Value is 5.9

In [25]:
# Enumerate function helps you return index and value associated to it
mylist = [10, 20, 30, 40, 50]

for index, value in enumerate(mylist):
  print(index, value)

0 10
1 20
2 30
3 40
4 50

In [27]:
actors = ["Salman", "Ranveer", "Ranbir"]
actresses = ["Katrina", "Deepika", "Alia"]
# Objective: print: The opposite actress of Salman is Katrina
for actor, actress in zip(actors, actresses):
  print("The opposite actress of ", actor, "is", actress)

The opposite actress of  Salman is Katrina
The opposite actress of  Ranveer is Deepika
The opposite actress of  Ranbir is Alia

In [29]:
actors = ["Salman", "Ranveer", "Ranbir"]
actresses = ["Katrina", "Deepika", "Alia"]
# Objective: print: The opposite actress of Salman is Katrina
for actor in reversed(actors):
  print(actor)

Ranbir
Ranveer
Salman

In [4]:
fb.fib(100)

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,

In [12]:
import pandas
dir(pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']